.chat-main
  .chat-main__header
    .chat-main__header__leftbox
      .chat-main__header__leftbox__current 
        test
        %ul.chat-main__header__leftbox__current__member 
          Member：
          %li.chat-main__header__leftbox__current__member__1 
            masa
      .chat-main__header__edit
        = link_to "#", class: "chat-main__header__edit__btn" do
          Edit

  .messages
    %ul.messages__user 
      masa：
      %li.ymessages__user__oubi 
        2020/3/30
    .messages-text おはよう！
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder:"type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type:"submit", class:"submit-btn", value: "Send"}

    