.chat-side
  .side-header
    .side-box
      .user-name masa
      .menu
        .new-group
          = link_to "#", class: "ico" do
            = icon('far', 'edit')

        .edit-user
          = link_to "#", class: "ico" do
            = icon('fas', 'cog')
  .groups
    .side_grops
      .user_text 
        techcamp
      .user_grops 
        まだメッセージがありません