.chat-side
  .side-header
    .side-box
      .user-name masa
      .menu
        .new-group
        =link_to "https://www.facebook.com/", class: "new-grop"
        
        
        .edit-user
        = icon('fab', 'twitter')
    
  .groups