.chat-side
  .chat-side__header
    .chat-side__header__box
      .chat-side__header__box__name masa
      .chat-side__header__box__menu
        .new-group
          = link_to "#", class: "ico" do
            = icon('far', 'edit')

        .edit-user
          = link_to "#", class: "ico" do
            = icon('fas', 'cog')
  .groups
    .groups__side
      .user_text 
        techcamp
      .user_grops 
        まだメッセージがありません