* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  background-color: red($color: #000000);
  .chat-main {
    width: calc(100% - 300px);
    &__header {
      box-sizing: border-box;
      height: 100px;
      padding: 0 40px;
      &__leftbox {
        float: left;
        &__current {
          color: #333;
          font-size: 20px;
          margin-top: 35px;
          &__members {
            color: #999;
            display: flex;
            font-size: 12px;
            margin-top: 15px;
            &__member d{
              display: inline-block;
              padding-right: 5px;
            }
          }
        }
      }
      .chat-main__header__edit {
        border: 1px solid $light_blue;
        color: $light_blue;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        &__btn {
          color: $light_blue;
        }
      }
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
    


  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__parent {
      position: relative;
      display: flex;
      width: 100%;
      &__message {
        border: none;
        height: 50px;
        width: 100%;
        padding-left: 0 40px 0 10px;
      }
      &__mask {
        font-size: 1.3rem;
        top: 10px;
        position: absolute;
        right: 125px;
        cursor: pointer;
          .hidden {
          display: none;
          }
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      // float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
      
    




  .chat-side{
    width: 300px;
    background-color: #253141;
    &__header {
      height: 100px;
      display: flex;
      align-items: center;
      &__box {
        height: 20px;
        width: 260px;
        color: #ffffff;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        &__name {
          font-size: 16px;
        }
        &__menu {
          display: flex;
          float: right;
        }
        
        .new-group {
          margin-right: 5px;
        }
        .edit-user {
        }
        .icon {
          color: #ffffff;
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      &__side {
        text-decoration: none;
        margin: 0 20px 0 20px;
      }
      .user_text  {
        padding: 20px 0 5px 0;
        font-size: 15px;
        color: #ffffff;
      }
      .user_grops {
        padding-bottom: 40px;
        font-size: 11px;
        color: #ffffff;
      }
    }
  }
}
a {
  text-decoration: none;
}